
/*header*/

.header{
	text-align: center;
	font-size: 40px;
}
.header:hover{
	background-color:#FF4C4C;
}

#london{
	width:800px;
	height:450px;
}

/*nav*/

.nav{
	background-color:#353535;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:stretch;
	align-content: stretch;
	flex-basis: auto;
	width:20%;
	height:100%;
	text-align:left;

}

.nav:hover{
	background-color:#FF4C4C;
}

li{
	color:#FFFFFF;
}

/*conteneur*/
.map {
	background-color: #353535;
	text-align: center;
}

.conteneur {
	background-color:#353535;
	text-align: right;
	color:inherit;
}

.texte {
	display: flex;
	float:right;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:stretch;
	align-content: stretch;
	flex-basis: auto;
	width:80%;
	height:100%;
	text-align:left;
	color:#FFFFFF;
}

.texte h1:hover {
	text-decoration: underline;
}


.texte h1{
	font-size: 40px;
}

h1{
	font-family: "Bernard MT Condensed";
}

p{
	font-family: "arial";
}

.navigation{
	font-size: 40px;
	background-color:#FFFFFF;
	padding: 20px;
  font-family: "Bernard MT Condensed";
}

a{
	text-decoration: none;
	color:black;
	margin:20px;
}



/*page1*/

/*page2*/

/*page3*/
