p {
color: white;
}
p {
	 font-size: 50px;
} 

.header {
	font-style:oblique;

  text-align: center;
background-color:white;
background-image:url("../images/32528.jpg");
}}
	
	body {
color:black;
background-color:white;
background-image:url("../images/32528.jpg");
}